{% extends 'shopping/main.html' %}
{% load static %}

{% block content %}
    <div class="row">

        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %} <!-- Remember: This is eventually an input field, It's just going to be hidden -->
                    <div id="user-info">
                        <div class="form-field">
                            <!-- The `name` property is for the: 1) Query Params & 2) Javascript -->
                            <input required class="form-control" type="text" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p><h5 style="text-align: center;">Shipping Info</h5></p>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" name="country" placeholder="Country..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="zipcode" placeholder="ZIP Code..">
                        </div>
                       
                    </div>

                    <hr>
                    <input style="width: 100%;" id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
                <button id="make-payment">Make Payment</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
                <hr>
                    <h3 style="text-align: center;">Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 2"><img class="row-image" src="{{ item.product.get_image_url }}" alt="product preview" style="height: 60px;"></div>
                    <div style="flex: 2"><p>{{ item.product.name }}</p></div>
                    <div style="flex: 1"><p>${{ item.product.price }}</p></div>
                    <div style="flex: 1"><p>&#215; {{ item.quantity }}</p></div>
                </div>
                {% endfor %}
                <h5>Items:&emsp; {{ order.get_cart_items_number }}</h5>
                <h5>Total:&emsp; ${{ order.get_cart_total_price }}</h5>
            </div>
        </div>

    </div>

    <script>
        // Showing and Hiding the Shipping Information Form depending on the Order status: (The Digitality of order items)
        // We can do this idea using only DTL => {% if needsShipping == True %} <class of the form> {% endif %}
        var shipping = '{{ order.needsShipping }}' 
        if (shipping == 'False')
        {
            document.getElementById('shipping-info').innerHTML = ''
        }

        // Showing and Hiding the User Information Form:
        if (user != 'AnonymousUser')
        {
            document.getElementById('user-info').innerHTML = ''
        }

        // If the user is Logged-in and is buying Digital products => (Explination Inside)
        if (user != 'AnonymousUser' && shipping == 'False')
        {
            // Hide the Entire Form Wrapper.
            document.getElementById('form-wrapper').classList.add('hidden')
            // Show the 'Make Payment' Button.
            document.getElementById('payment-info').classList.remove('hidden')

        }
        // ***) Uncommenting this conditional will allow you to show the Payment Button to the user that is not logged in,
        // - If the customer is too stupid to understand what is the meanning of the 'email' field - Instead of only showing 'user info' Form.
        // If the user is Not Logged-in and is buying Digital products => show him the 'Payment Button Directly'
        // if (user == 'AnonymousUser' && shipping == 'False') // Shipping must be 'False' so the 'continue' button of the 'ShippingAddreess' form doesn't show.
        // {
        //     document.getElementById('payment-info').classList.remove('hidden')
        // }

        // Showing and hiding the Payment Form:
    
        var form = document.getElementById('form')
        
        // This is a More Secure way of solvinig the issue of (The Server responded with status code of 403 (Forbidden) when shopping in the store in the incognito mode) 
        // (more secure than using the decorator 'csrf_exempt' on the function 'process_order_function')
        // And it's done by:
        // Resetting the 'csrftoken' value <that is going to be set as a value in our fetch api> with the value of the '{% csrf_token %}' above in this tempalte.
        csrftoken = form.getElementsByTagName("input")[0].value
        // console.log('selfCsrftoken', form.getElementsByTagName("input")[0].value)            
        
        form.addEventListener('submit', function(e)
            {
                e.preventDefault() // Do not submit the Form.
                console.log('Form Submitted.')
                document.getElementById('form-button').classList.add("hidden")
                document.getElementById('payment-info').classList.remove("hidden")
            }
        )
        
        document.getElementById('make-payment').addEventListener('click', function(e) 
            {
                submit_form_data()
            }
        )
        
        // Getting the Total Price of the products in the Cart (order)
        var cartTotalPrice = '{{ order.get_cart_total_price }}'
            
        function submit_form_data() 
        {
            console.log('Payment Button Clicked')
            // Getting User Info Data from the form.
            var userInfo     = {
                'name'  :  null,
                'email' : null,
                'total' : cartTotalPrice
            }
            // Getting Shipping Info Data from the form.
            var shippingInfo = {
                'country' : null,
                'city'    : null,
                'address' : null,
                'zipcode' : null,
            }
            // Once the form is submitted => we want to update the values of the previous objects.
            if (shipping != 'False')
            {
                shippingInfo.country    = form.country.value
                shippingInfo.city       = form.city.value
                shippingInfo.address    = form.address.value
                shippingInfo.zipcode    = form.zipcode.value
            }

            if (user == 'AnonymousUser')
            {
                userInfo.name  = form.name.value
                userInfo.email = form.email.value
            }

            console.log('User Info:', userInfo)
            console.log('Shipping Info:', shippingInfo)

            var url = processOrderViewName
            fetch(url, {
                    method  : 'POST', 
                    headers : {
                        'Content-Type' : 'application/json', 
                        'X-CSRFToken'    : csrftoken
                    },
                    body    : JSON.stringify({
                        'userInfo'     : userInfo, 
                        'shippingInfo' : shippingInfo
                    })
                }
            )
            .then(response => {
                return response.json()
            })
            .then(data => {
                console.log('Success:', data)
                alert('Transaction Completed!')

                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                window.location.href = "{% url 'store' %}" // Redirecting...
            })
        }
    </script>
    

{% endblock content %}
