<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>E-Commerce</title>
        <meta name="description" content="Website for shopping online!">
        
        <!-- Favicon (Temp) -->
        <link type="image/png" sizes="16x16" rel="icon" href="{% static 'images/InternallogoIcon.png' %}">

        <!-- External CSS Files (Bootstrap5) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        <!-- Internal CSS Files (The internal is underneath the Bootstrap's one for Overriding purposes)-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        




        



        <!-- Querying User status (Logged-in or Not) and processing it in cart.js file (because it's at the bottom of this main.html template) -->
        <script> // We're putting this script here, Bcz we want to have the user available at the top of every page and as soon as we load any page.

            var user = '{{ request.user }}' // We're gonna be accessing this variable in 'cart.js' file.

            var viewName = "{% url 'update-item' %}"
            
            var processOrderViewName = "{% url 'process-order' %}"
            
            var cartViewName = "{% url 'cart' %}"
            
            var storeViewName = "{% url 'store' %}"

            // Acquiring CSRF Token to use with non-form POST request.
            function getToken(name) 
            {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') 
                {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) 
                    {
                        const cookie = cookies[i].trim(); // Cleaning up Leading and Trailing white spaces.
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) 
                        {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken');

            // Creating 'Cart' Cookie.
            // Firstly: Searching for existing one.
            function getCookie(name)
            {
                // Split cookie string and get all individuals "name=value" pairs in a string array.
                var cookieArr = document.cookie.split(";");

                // Loop through the array elements (pairs).
                for (var i = 0; i < cookieArr.length; i++)
                {
                    var cookiePair = cookieArr[i].split("="); // cart => cookiePair[0] = { key = value, key = value } => cookiePair[1];

                    // Comparing the name of the 'cart' cookie that we're looking for with the cookies array that we got from the browser, 
                    // after removing leading and trailing white spaces from the browser's cookie key.
                    if (name == cookiePair[0].trim())
                    {
                        // Decode the browser's cookie value and return it.
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
                // if couldn't found the 'cart' cookie in the existed cookies return null, (so we create it)
                return null
            }
        
            var cart = JSON.parse(getCookie('cart')) 

            // Secondly: If that 'cart' cookie doesn't exist => Create it and add it to the cookies.
            if (cart == undefined)
            {
                cart = {}
                console.log('Cart was created!')
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/" // The 'domain' and 'path' for mainting consistency all over the site.
            }

            console.log('cart:', cart)
            // The value of the 'cart' cookie key, Goes through the steps below: 
            // 1) Got stringified using "JSON.stringify()".
            // 2) Got Encoded using "encodeURIComponent()"

        </script>

















    </head>

    <body>
        {% include 'navbar.html' %}
        <br>
        <br>
        
        <div class="container" style="padding: 0 30px 0 30px;"> <!-- 'container' class: To center the content for the inherting pages -->
            <br> <!-- For creating some space between the other pages' content and the Top of the page -->
            {% block content %}

            {% endblock content %}
        </div>
            


        <!-- External JS Files (Bootstrap5) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script>
        
        <!-- The precedence So the page can first Load, Then we Execute whatever the JS functionality we want -->
        <script src="{% static 'js/cart.js' %}"></script>
    </body>

</html>